header{
    display:flex;
    max-width: 88.3%;
    height: 200px;
    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645ffb 99.63%);
    padding:0 80px;
}

header img{
    margin-top: 40px;
    padding-left: 40px;
    width: 169px;
    height: 45px;
}