.container-resume {
    width: 210px;
    height:230px;
    background: #fafafa;
    /* background: #fafafa; */
    box-shadow: 0px 2px 11px rgba(0,0,0, 0.1);
    border-radius: 10px;
    padding: 23px 33px;
}

.container-resume div{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.in {
    color: #645ffb;
}
.out{
    color: #fa8c10;
}

.balance{
    color: #3a9ff1;
}